.purple {
  color: 	#800080
}

body{
  color: #000000;
}
/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000;
}

#answer-display:hover {
  color: #fff;
}
